- provide(:title, "Setting")
.col-md-6.col-md-offset-2
  h3 プロフィール変更
  = form_with model: @user, scope: resource_name, url: user_registration_path, local: true do |f|
    = devise_error_messages!
    .field
      .form-group
        = f.label 'ユーザー画像'
        = f.file_field :image
        br
    .field
      .form-group
        = f.label '名前'
        br
        = f.text_field :name, autofocus: true, class: "form-control"
    .field
      .form-group
        = f.label 'ユーザーネーム'
        br
        = f.text_field :user_name, autofocus: true, class: "form-control"
    .field
      .form-group
        = f.label 'ウェブサイト'
        br
        = f.text_field :website, autofocus: true, class: "form-control"
    .field
      .form-group
        = f.label '自己紹介'
        br
        = f.text_area :bio, autofocus: true, rows: 5, class: "form-control"
    .field
      .form-group
        = f.label 'メールアドレス（＊非公開）'
        br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .field
      .form-group
        = f.label '電話番号（＊非公開）'
        br
        = f.text_field :phonenumber, autofocus: true, class: "form-control"
    .field
      .form-group
        = f.label '性別（＊非公開）'
        br
        = f.text_field :gender, autofocus: true, class: "form-control"
        br
    .actions
      = f.submit '更新'
  /omniauthログインの場合はリンクを表示しない
  div
    = link_to 'パスワード変更する', password_edit_path if @user.provider.blank?
    
  h3 アカウント削除
  | ご利用頂きありがとうございました。
  
  = button_to '退会ボタン', registration_path(@user), method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }
    
  = link_to "前のページにもどる", :back