- provide(:title, "Signup")
.col-md-6.col-md-offset-2
  h3 新規登録
  = form_with model: @user, scope: resource_name, url: user_registration_path, local: true do |f|
    = devise_error_messages!
    .field
      .form-group
        = f.label :name
        br
        = f.text_field :name, autofocus: true, class: "form-control"
    .field
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .field
      .form-group
        = f.label :password
        - if @minimum_password_length
        br
        = f.password_field :password, autocomplete: "new-password", class: "form-control"
    .field
      .form-group
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    .actions
      = f.submit "送信"
  = render "devise/shared/links"
  = link_to "利用規約", pages_about_path