- provide(:title, "Password")
.col-md-6.col-md-offset-2
  h3 パスワード変更
  = form_for current_user, url: {action: 'password_update'} do |f|
    .field
      = f.label :password
      br
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        em
          = @minimum_password_length
          | characters minimum
    .field
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :current_password
      br
      = f.password_field :current_password, autocomplete: "current-password"
    .actions
      = f.submit "更新"