- if controller_name != 'sessions'
  = link_to "ログインページはこちら", new_session_path(resource_name)
  br
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "新規登録ページはこちら", new_registration_path(resource_name)
  br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "#{OmniAuth::Utils.camelize(provider)}でログインする",
      omniauth_authorize_path(resource_name, provider), class: 'btn-primary btn-sm'
    br