span id="post-#{post.id}" 
  - if post.likes.find_by( user_id: current_user.id)
    = form_for( post.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f|
      = hidden_field_tag :post_id, post.id
      = button_tag(class: "btn btn-link btn-xs") do
        = content_tag :span, post.likes.count, class: "glyphicon glyphicon-heart"
  - else
    = form_for( post.likes.build, remote: true) do |f|
      = hidden_field_tag :post_id, post.id
      = button_tag(class: "btn btn-link btn-xs") do
        = content_tag :span, post.likes.count, class: "glyphicon glyphicon-heart-empty"