- provide(:title, "Likes")
/サイドバー
- if user_signed_in?
  .sidebar.col-md-2.col-md-offset-2.col-xs-10.col-xs-offset-1
    = render partial: 'layouts/sidebar', locals: { user: @user, post: @post }

/ポストフィールド
.col-md-6.col-xs-12
  - if @user.like_posts.any?
    - @posts.each do |post|
      = render partial: 'posts/post', locals: { post: post, comment: @comment }
  - else
    p お気に入りの投稿がありません。