/自己紹介がある場合表示
div
  = user.bio if user.bio.present?

/websiteがある場合表示
- if user.website.present?
  div
    span.glyphicon.glyphicon-link aria-hidden="true" 
    = link_to(user.website, user.website)
    
/ログインユーザーの場合
- if user == current_user
  div
    span.glyphicon.glyphicon-pencil aria-hidden="true" 
    = link_to('プロフィールを編集する', edit_user_registration_path)