/Ajax利用のためインスタンス変数のまま使用
- if @user.id != current_user.id
  #follow
    - if current_user.following?(@user)
      div
        /フォロー解除ボタン
        = link_to "フォロー中" , unfollow_user_path(@user), method: :get, class: "btn btn-default btn-block", remote: true
    - else
      div
        /フォローボタン
        = link_to "フォローする", follow_user_path(@user), method: :get, class: "btn btn-success btn-block", remote: true