/_details.html.erbとの統合はできないか？
.user
  div
    = link_to image_tag(user.image.url, alt: "サムネイル画像",class: "sumnail img-circle"), user_path(user)
    = link_to user.name, user_path(user)
  /自己紹介がある場合表示
  - unless user.bio.blank?
    = user.bio.truncate(20)