/サイドバー
- if user_signed_in?
  .sidebar.col-md-2.col-md-offset-2.col-xs-10.col-xs-offset-1
    = render partial: 'layouts/sidebar', locals: { user: @user, post: @post }
    
/該当ユーザーの一覧
.col-md-6.col-xs-12
  - if users.any?
    - users.each do |user|
      .col-md-6.col-xs-12
        = render 'intro', user: user
    /ページネーション
    = paginate users
  - else
    .col-md-10.col-md-offset-1
      = link_to '気になるユーザーをフォローしてみましょう!', users_path