- provide(:title, "Notification")
/サイドバー
- if user_signed_in?
  .sidebar.col-md-2.col-md-offset-2.col-xs-10.col-xs-offset-1
    = render partial: 'layouts/sidebar', locals: { user: @user, post: @post }
    
/ログインユーザーの投稿を表示
.col-md-6.col-xs-12
  - if @notification.present?
    - @notification.each do |notice|
      .col-md-12
        .user
          .col-md-2.col-xs-2
            = link_to image_tag(notice.user.image.url, alt: "サムネイル画像",
                class: 'img-circle'), notice.user
          .col-md-8.col-xs-8
            - if current_user == @user && notice.kind == "like"
              = link_to notice.user.name, notice.user
              | さんが、あなたの投稿をお気に入りに追加しました。
            - elsif current_user == @user && notice.kind == "comment"
              = link_to notice.user.name, notice.user
              | さんが、あなたの投稿にコメントしました。
            = time_ago_in_words notice.created_at
            | 前
          .col-md-2.col-xs-2
            = image_tag notice.post.picture.to_s
  - else
    .col-md-10.col-md-offset-1
      p お気に入り登録やコメントが通知されます。