- provide(:title, "User")
/サイドバー
- if user_signed_in?
  .sidebar.col-md-2.col-md-offset-2.col-xs-10.col-xs-offset-1
    = render partial: 'layouts/sidebar', locals: { user: @user, post: @post }
    = render partial: 'details', locals: { user: @user }
    
/ログインユーザーの投稿を表示
.col-md-6.col-xs-12
  /投稿画像
  - if @user.posts.present?
    - @posts.each do |post|
      = render partial: 'posts/post', locals: { post: post, comment: @comment }
    /ページネーション
    = paginate @posts
  - else
    まだ投稿がありません。