/ランディングページ背景と紹介文
.text-center
  = image_tag('landing_image.jpg', alt: "ランディングページ画像",
      class: "img-responsive img-rounded")
  br
  p 全ての機能を使うためには、ユーザー登録か必要です（テストユーザー email: test@gmail.com pass: testuser）
  strong ↓ボタンのワンクリックでログイン可能です！
  
  = form_for :user, class: "form-inline", url: session_path(:user) do |f|
    .form-group
      = f.hidden_field :email, value: 'test@gmail.com'
      = f.hidden_field :password, value: 'testuser'
      = f.submit 'テストユーザーでログインする', class: 'btn-info btn-sm'
  
  - resource_class.omniauth_providers.each do |provider|
    = link_to "#{OmniAuth::Utils.camelize(provider)}でログインする",
      omniauth_authorize_path(resource_name, provider), class: 'btn-primary btn-sm'