/サイドバー
- if user_signed_in?
  .sidebar.col-md-2.col-md-offset-2.col-xs-10.col-xs-offset-1
    = render partial: 'layouts/sidebar', locals: { user: @user, post: @post }
    
/ログイン前はランディングページ、ログイン後はタイムライン
- if user_signed_in?
  .col-md-6.col-xs-12
    - if @timeline.present?
      - @timeline.each do |post|
        = render partial: 'posts/post', locals: { post: post, comment: @comment }
      /ページネーション
      = paginate @timeline
    - else
      .col-md-10.col-md-offset-1
        = link_to '気になるユーザーをフォローしてみましょう!', users_path
- else
  .col-md-6.col-md-offset-3
    = render partial: 'landing'