/paginationを中央に表示
.col-md-12.col-xs-12.text-center
  = paginator.render do
    ul.pagination
      == prev_page_tag unless current_page.first?
  
      - each_page do |page|
        - if page.left_outer? || page.right_outer? || page.inside_window?
          == page_tag page
        - elsif !page.was_truncated?
          == gap_tag
  
      == next_page_tag unless current_page.last?