- provide(:title, "Login")
.col-md-6.col-md-offset-2
  h3 ログイン
  p テストユーザー（email: test@gmail.com pass: testuser）
  = form_with model: @user, scope: resource_name, url: session_path(resource_name), local: true do |f|
    = devise_error_messages!
    .field
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .field
    .form-group
        = f.label :password
        br
        = f.password_field :password, autocomplete: "current-password", class: "form-control"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in"
  = render "devise/shared/links"