/モーダル・ダイアログ
.modal.fade id="postModal-#{post.id}" tabindex="-1" 
  .modal-dialog
    .modal-content
      .modal-body
        /投稿画像
        button.close data-dismiss="modal" type="button" 
          span ×
        = image_tag post.picture.to_s, class: "img-responsive center-block"
        /コメントフォーム
        = form_for(comment) do |f|
          .input-group
            span= hidden_field_tag :post_id, post.id
            = f.text_field :content, autofocus: true, class: "form-control", placeholder: "コメントする"
            span.input-group-btn
              = f.submit '送信', class: "btn btn-info"
        /コメント一覧
        - post.comments.each do |comment|
          .comment
            = link_to image_tag(comment.user.image.url, alt: "サムネイル画像", class: "img-circle"), user_path(post.user)
            = link_to comment.user.name, user_path(comment.user)
            = time_ago_in_words comment.created_at
            div
              = comment.content
              /ログインユーザーページでのみ削除ボタン表示
              - if comment.user == current_user
                = link_to comment, method: :delete, data: { confirm: "本当に削除しますか?" } do
                  sypan.glyphicon.glyphicon-trash aria-hidden="true"