.col-md-4.col-xs-4
  /投稿画像（モーダル呼び出し）
  a data-target="#postModal-#{post.id}" data-toggle="modal" type="button" 
    = image_tag post.picture.to_s, class: "img-responsive"
  .flex-container
    /ユーザー画像
    = link_to image_tag(post.user.image.url, alt: "サムネイル画像", class: "img-circle"),
        user_path(post.user) unless current_page?(user_path current_user)
    /いいねボタン
    = render partial: 'likes/like', locals: { post: post }
    /コメントカウンターを押してもモーダルが開く
    a data-target="#postModal-#{post.id}" data-toggle="modal" type="button" 
      = button_tag(class: "btn btn-link btn-xs") do
        = content_tag :span, post.comments.count, class: "glyphicon glyphicon-comment"
    /ログインユーザーページでのみ削除ボタン表示
    = link_to( post, method: :delete, data: { confirm: "本当に削除しますか?" } ) do
      - if current_page? user_path(current_user)
        span.glyphicon.glyphicon-trash aria-hidden="true" 
  /モーダル
  = render partial: 'posts/modal', locals: { post: post, comment: comment }