- provide(:title, "Search")
/サイドバー
- if user_signed_in?
  .sidebar.col-md-2.col-md-offset-2.col-xs-10.col-xs-offset-1
    = render partial: 'layouts/sidebar', locals: { user: @user, post: @post }
    
/ログイン前はランディングページ、ログイン後はタイムライン
- if user_signed_in?
  .col-md-6.col-xs-12
    - if @timeline.any?
      - @timeline.each do |post|
        = render partial: 'post', locals: { post: post, comment: @comment }
    - else
      p 該当する投稿がありませんでした。
- else
  .col-md-6.col-md-offset-3
    = render 'layouts/landing'