@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body{
  background-color: #eee;
  padding-top: 70px;
  word-break: break-all;
}

a{
  color: gray;
  &:hover{
    text-decoration: none;
  }
}

li{
  list-style: none;
}

.btn-link[type]:active, .btn-link[type]:visited, .btn-link[type]:hover{
  outline: 0;
}

.glyphicon{
  color: gray;
}

.col-md-6, .col-md-12{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.sidebar{
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.sumnail{
  height: 60px;
  width:  60px;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  margin-bottom: 20px;
  background-color: white;
  img {
    width:  20px;
    height: 20px;
  } 
}

.user{
  height: 100px;
  padding: 10px;
  border: dashed 1px #eee;
  background-color: white;
  img {
  max-height: 100%;
  max-width: 100%;
  }
}

.comment{
  border-bottom: solid 1px lightgray;
    img {
    width:  20px;
    height: 20px;
  } 
}

// modal
.input-group{
padding: 20px 0px; 
}

// debug
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}