/bootstrapのフラッシュを設定
.container-fluid
  .row
    .col-md-6.col-md-offset-3
      - flash.each do |type, msg|
        - if type == "notice"
          .alert.alert-success
            a.close data-dismiss="alert" href="#"  ×
            ul
              li= msg
        - elsif type == "alert"
          .alert.alert-danger
            a.close data-dismiss="alert" href="#"  ×
            ul
              li= msg
        - else
          div class=("alert alert-#{"#{type}"}") 
            a.close data-dismiss="alert" href="#"  ×
            ul
              li= msg