/メタデータとナビゲーション
header
  nav.navbar.navbar-fixed-top.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed data-target="#navbarEexample3" data-toggle="collapse" type="button" 
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="#" 
          = link_to "Instagram app", root_path,class: "navbar-brand"
      #navbarEexample3.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            /検索フォーム
            = search_form_for @q, class: "navbar-form navbar-right",  url: posts_path do |f|
              .form-group
                = f.search_field :content_cont, class: "form-control", placeholder: 'キーワード検索'
                = button_tag type: "submit", class: "btn btn-default btn-sm" do
                  span.glyphicon.glyphicon-search aria-hidden="true" 
            = render partial: 'layouts/links', locals: { notification: notification }
          - else
            li = link_to '新規登録', new_user_registration_path
            li = link_to 'ログイン', new_user_session_path