/通知ボタン
- if notification.where(status: true).present?
  li.active
    = link_to notification_user_path(current_user) do
      span.glyphicon.glyphicon-bell aria-hidden="true" 
      | 通知
- else
  li
    = link_to notification_user_path(current_user) do
      span.glyphicon.glyphicon-bell aria-hidden="true" 
      | 通知
      
/リンクがドロップダウンする
li.dropdown
  a.dropdown-toggle data-toggle="dropdown" href="#" role="button" 
    = current_user.name
    span.caret
  ul.dropdown-menu role="menu" 
    li
      = link_to current_user do
        span.glyphicon.glyphicon-user aria-hidden="true" 
        | ユーザーページ
    li
      = link_to edit_user_registration_path do
        span.glyphicon.glyphicon-pencil aria-hidden="true" 
        | プロフィール編集
    li
      = link_to like_path(current_user) do
        span.glyphicon.glyphicon-heart aria-hidden="true" 
        | お気に入り一覧
    li
      = link_to users_path do
        span.glyphicon.glyphicon-globe aria-hidden="true" 
        | おすすめユーザー
    li
      = link_to destroy_user_session_path, method: :delete do
        span.glyphicon.glyphicon-log-out aria-hidden="true" 
        | ログアウト