/ユーザー情報
li
  = link_to image_tag(user.image.url, alt: "サムネイル画像", class: "sumnail img-circle"), user
  = link_to user.name, user
  
/統計情報
.row
  .col-md-3.col-xs-3.col-xs-offset-1
    a href="#{user_path(user)}" 
      small 投稿
      div= user.posts.count
  .col-md-4.col-xs-4
    a href="#{following_user_path(user)}" 
      small フォロー
      div= user.follow_count
  .col-md-4.col-xs-4
    a href="#{followers_user_path(user)}" 
      small フォロワ
      div= user.followers_count
      
/画像投稿フォーム
- if current_user == user
  = form_for(post) do |f|
    = f.file_field :picture
    span.btn.btn-block
      = f.submit "Post"

/フォローフォーム
li
  = render partial: 'users/follow'