    meta content="summary" name="twitter:card"
    meta content="@bankoo_blog" name="twitter:site"
    meta content="https://bankoo-instagram.herokuapp.com/" property="twitter:url"
    meta content="Instagram_app" property="twitter:title"
    meta content="Instagramを参考して作成した、画像共有サイトです。" property="twitter:description"
    meta content=("#{asset_url 'default.jpg'}") property="twitter:image"