doctype html
html
  head
    title
      = full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    = render 'layouts/shim'
    = render 'layouts/twitter'
    = favicon_link_tag('favicon.ico')
  body
    = render partial: 'layouts/flash'
    = render partial: 'layouts/header', locals: { notification: @notification }
    .container-fluid
      .row
        = yield
      .row
        .col-md-8.col-md-offset-2
          = debug(params) if Rails.env.development?